:root {
    --theme-color: "Succubus";
    --hue-rotate: 0deg;
    --md-sys-color-primary: var(--scheme-light, rgb(192 12 192)) var(--scheme-dark, rgb(252 95 252));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(192 12 192)) var(--scheme-dark, rgb(252 95 252));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(71 21 71));
    --md-sys-color-primary-container: var(--scheme-light, rgb(252 197 252)) var(--scheme-dark, rgb(111 32 111));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(87 25 87)) var(--scheme-dark, rgb(252 207 252));
    --md-sys-color-secondary: var(--scheme-light, rgb(91 48 166)) var(--scheme-dark, rgb(170 134 234));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(47 36 66));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(221 211 238)) var(--scheme-dark, rgb(70 54 99));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(47 36 66)) var(--scheme-dark, rgb(226 218 241));
    --md-sys-color-tertiary: var(--scheme-light, rgb(166 48 97)) var(--scheme-dark, rgb(244 175 203));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(81 31 52));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(250 198 220)) var(--scheme-dark, rgb(111 42 71));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(81 31 52)) var(--scheme-dark, rgb(251 208 226));
    --md-sys-color-error: var(--scheme-light, rgb(182 45 32)) var(--scheme-dark, rgb(250 175 168));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(77 30 25));
    --md-sys-color-error-container: var(--scheme-light, rgb(252 201 197)) var(--scheme-dark, rgb(119 41 34));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(84 33 28)) var(--scheme-dark, rgb(252 210 207));
    --md-sys-color-background: var(--scheme-light, rgb(250 249 251)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-on-background: var(--scheme-light, rgb(29 25 31)) var(--scheme-dark, rgb(236 232 238));
    --md-sys-color-surface: var(--scheme-light, rgb(250 249 251)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-on-surface: var(--scheme-light, rgb(29 25 31)) var(--scheme-dark, rgb(236 232 238));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(231 226 233)) var(--scheme-dark, rgb(66 52 70));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(80 70 83)) var(--scheme-dark, rgb(207 198 210));
    --md-sys-color-outline: var(--scheme-light, rgb(127 113 132)) var(--scheme-dark, rgb(153 137 159));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(207 198 210)) var(--scheme-dark, rgb(66 52 70));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(49 40 51)) var(--scheme-dark, rgb(236 232 238));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(245 244 246)) var(--scheme-dark, rgb(49 40 51));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(252 95 252)) var(--scheme-dark, rgb(192 12 192));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(252 197 252)) var(--scheme-dark, rgb(252 197 252));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(47 14 47)) var(--scheme-dark, rgb(47 14 47));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(251 147 251)) var(--scheme-dark, rgb(251 147 251));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(111 32 111)) var(--scheme-dark, rgb(111 32 111));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(221 211 238)) var(--scheme-dark, rgb(221 211 238));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(28 21 40)) var(--scheme-dark, rgb(28 21 40));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(198 181 227)) var(--scheme-dark, rgb(198 181 227));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(70 54 99)) var(--scheme-dark, rgb(70 54 99));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(250 198 220)) var(--scheme-dark, rgb(250 198 220));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(52 20 33)) var(--scheme-dark, rgb(52 20 33));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(244 175 203)) var(--scheme-dark, rgb(244 175 203));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(111 42 71)) var(--scheme-dark, rgb(111 42 71));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(224 217 227)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(250 249 251)) var(--scheme-dark, rgb(60 48 65));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(11 8 13));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(246 243 247)) var(--scheme-dark, rgb(28 20 31));
    --md-sys-color-surface-container: var(--scheme-light, rgb(241 237 242)) var(--scheme-dark, rgb(36 27 39));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(234 229 235)) var(--scheme-dark, rgb(47 36 50));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(226 221 228)) var(--scheme-dark, rgb(58 46 62));
}
