:root {
    --theme-color: "Succubus";
    --hue-rotate: 0deg;
    --md-sys-color-primary: var(--scheme-light, rgb(182 22 150)) var(--scheme-dark, rgb(251 147 230));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(182 22 150)) var(--scheme-dark, rgb(251 147 230));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(71 21 61));
    --md-sys-color-primary-container: var(--scheme-light, rgb(252 197 241)) var(--scheme-dark, rgb(111 32 95));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(87 25 75)) var(--scheme-dark, rgb(252 207 243));
    --md-sys-color-secondary: var(--scheme-light, rgb(109 75 139)) var(--scheme-dark, rgb(206 181 227));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(52 36 66));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(225 211 238)) var(--scheme-dark, rgb(78 54 99));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(52 36 66)) var(--scheme-dark, rgb(230 218 241));
    --md-sys-color-tertiary: var(--scheme-light, rgb(166 48 97)) var(--scheme-dark, rgb(244 175 203));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(81 31 52));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(250 198 220)) var(--scheme-dark, rgb(111 42 71));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(81 31 52)) var(--scheme-dark, rgb(251 208 226));
    --md-sys-color-error: var(--scheme-light, rgb(182 45 32)) var(--scheme-dark, rgb(250 175 168));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(77 30 25));
    --md-sys-color-error-container: var(--scheme-light, rgb(252 201 197)) var(--scheme-dark, rgb(119 41 34));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(84 33 28)) var(--scheme-dark, rgb(252 210 207));
    --md-sys-color-background: var(--scheme-light, rgb(251 249 251)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-on-background: var(--scheme-light, rgb(30 25 31)) var(--scheme-dark, rgb(237 232 238));
    --md-sys-color-surface: var(--scheme-light, rgb(251 249 251)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-on-surface: var(--scheme-light, rgb(30 25 31)) var(--scheme-dark, rgb(237 232 238));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(232 226 233)) var(--scheme-dark, rgb(67 52 70));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(81 70 83)) var(--scheme-dark, rgb(208 198 210));
    --md-sys-color-outline: var(--scheme-light, rgb(129 113 132)) var(--scheme-dark, rgb(155 137 159));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(208 198 210)) var(--scheme-dark, rgb(67 52 70));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(50 40 51)) var(--scheme-dark, rgb(237 232 238));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(245 244 246)) var(--scheme-dark, rgb(50 40 51));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(251 147 230)) var(--scheme-dark, rgb(182 22 150));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(252 197 241)) var(--scheme-dark, rgb(252 197 241));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(47 14 41)) var(--scheme-dark, rgb(47 14 41));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(251 147 230)) var(--scheme-dark, rgb(251 147 230));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(111 32 95)) var(--scheme-dark, rgb(111 32 95));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(225 211 238)) var(--scheme-dark, rgb(225 211 238));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(31 21 40)) var(--scheme-dark, rgb(31 21 40));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(206 181 227)) var(--scheme-dark, rgb(206 181 227));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(78 54 99)) var(--scheme-dark, rgb(78 54 99));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(250 198 220)) var(--scheme-dark, rgb(250 198 220));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(52 20 33)) var(--scheme-dark, rgb(52 20 33));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(244 175 203)) var(--scheme-dark, rgb(244 175 203));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(111 42 71)) var(--scheme-dark, rgb(111 42 71));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(225 217 227)) var(--scheme-dark, rgb(20 14 22));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(251 249 251)) var(--scheme-dark, rgb(62 48 65));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(12 8 13));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(246 243 247)) var(--scheme-dark, rgb(29 20 31));
    --md-sys-color-surface-container: var(--scheme-light, rgb(241 237 242)) var(--scheme-dark, rgb(37 27 39));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(234 229 235)) var(--scheme-dark, rgb(48 36 50));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(227 221 228)) var(--scheme-dark, rgb(59 46 62));
}
